* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    width: 25%;
    margin-left: 2rem;
    background-image: linear-gradient(to top right, rgb(249, 95, 18), yellow, rgb(255, 0, 255));
}

.quotes {
    background-color: darkgreen;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quotes h4 {
    font-size: 2rem;
    color: khaki;
}

.quotes p {
    color: aliceblue;
    font-style: italic;
    font-size: 1.3rem;
}

.gen {
    display: flex;
    justify-content: center;
}

button {
    font-size: 1.2rem;
    margin-top: 1rem;
    border-radius: .3rem;
}
